<h1>Login</h1>

<%= render partial: '/application/errors', locals: {errors: @errors} %>

<%= form_for :dispatcher do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login"%> or <button><%= link_to "Create a New Account", signup_path %></button>
<% end %>
