
<%if call_path ? <h3>Caller Name</h3> : %>
<%= @caller.to_s%><br><br>

<h3>Caller Contact</h3>
<%= @caller.phone_number%><br><br>

<h3>Caller Parish</h3>
<%= @caller.parish.name%> Parish <br><br>

<h3>Caller Address</h3>
<%= @caller.address%><br>
<%= @caller.city%>,
<%= @caller.state.name%>,
<%= @caller.zipcode%><br><br>