<h4>Caller Name</h4>
<%= @caller.to_s%><br><br>

<h4>Caller Contact</h4>
<%= @caller.phone_number%><br><br>

<h4>Caller Parish</h4>
<%= @caller.parish.name%> Parish <br><br>

<h4>Caller Address</h4>
<%= @caller.address%><br>
<%= @caller.city%>,
<%= @caller.state.name%>,
<%= @caller.zipcode%><br><br>

<h4>Case Dispatchers</h4>
<ul>
    <% @caller.dispatchers.each do |d| %>
        <li><%= link_to d.username, dispatcher_path(d) %></li>
    <% end %>
</ul>