<h1> Add a New Call to the Dispatch Log </h1>

<%= render partial: '/application/errors', locals: {errors: @call.errors.full_messages} %>

<div class="form">
    <%= form_for @call do |f| %>
    <%# try to turn hidden fields into url_helper method?%>
        <%= f.hidden_field :caller_id, value: @call.caller_id%>
        <%= f.hidden_field :dispatcher_id, value: @call.dispatcher_id%>
        
        <%= f.label :date %><br>
        <%= f.date_field :date %><br><br>

        <%= f.label "Select existing caller from the dropdown or add a new one below"%><br>
        
        <%= f.collection_select :caller_id, @callers, :id, :to_s, include_blank: 'None' %><br><br>
           
        <%= f.fields_for :caller, @caller do |c| %>
            <%= c.label "Caller Info" %><br>
            <%= c.label :first_name %>
            <%= c.text_field :first_name %>
 
            <%= c.label :last_name %>
            <%= c.text_field :last_name %><br>
 
            <%= c.label :address %>
            <%= c.text_field :address %>
 
            <%= c.label :city %>
            <%= c.text_field :city %><br>

            <%= c.label :zipcode %>
            <%= c.text_field :zipcode %><br>
 
            <%= c.label :phone_number %>
            <%= c.text_field :phone_number %>

            <%= c.label "Alternative Phone Number" %>
            <%= c.text_field :phone_number2 %><br><br>

        <%= f.fields_for :parish, @parish do |p| %>
            <%= p.label :parish %>
            <%= p.text_field :parish_id, list: "parish_autocomplete" %>
             <datalist id="parish_autocomplete">
                <% @callers.each do |caller| %>
                    <option value="<%= caller.parish %>">
                <% end %>
            </datalist>
 
            <%= c.label :state %>
            <%= c.text_field :call_ids, list: "state_autocomplete" %>
             <datalist id="state_autocomplete">
                <%      @callers.map do |caller| %>
                    <option value="<%= caller.state %>">
                <% end %>
            </datalist>
 
            

        <% end %>

        <%= f.label "Log call details here:" %><br>
        <%= f.text_area :dispatch_log %><br><br>

        <%= f.label "Select your dispatch username from dropdown"%><br>
        <%= f.collection_select :dispatcher_id, @dispatchers, :id, :username, include_blank: 'None' %><br><br>        

    <%= f.submit "Add Call"%>

    <% end %>
</div>