
<h1>Dispatch Log Details</h1><br><br>
<div class="box">
<h3><b>Date</b></h3>
<p><%= @call.date.strftime("Created on %A, %b %e, %Y")%></p>

<h3><b>Dispatcher Username</b></h3>
<p><%= link_to @call.dispatcher.username, dispatcher_path(@call.dispatcher) %></p>

<h3><b>Caller</b></h3>
<p><%= link_to @call.caller.to_s, caller_path(@call.caller) %></p>

<h3><b>Dispatch Log</b></h3>
<p><%= @call.dispatch_log %></p>
</div>

<% if @call.dispatcher == current_user %>
    <button class="submit"><%= link_to "Edit Call Details", edit_dispatcher_call_path(@call.dispatcher)%></button>
<%end%>
