<h1><%= login_view ? "Login to Your Account" : "Sign Up" %></h1>

<p id="login_labels">
<%= form_for :dispatcher do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
</p> 
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
 
      <% if login_view %>
        <%= f.submit "Login" %> or <button id="link_button"><%= link_to "Login w/ Google", "/auth/google_oauth2" %></button><br><br>
        <%= link_to "Sign up for a new account here!", signup_path %>
    <% else %>
        <%= f.submit "Create Account" %><br><br>
        <%= link_to "Already have an account? Login here!", login_path %>
    <% end %>
<% end %>