<h1>Sign Up</h1>

<div class="flash"> 
    <%@errors && @errors.each do |m|%>
      <li><%=m%></li>
    <%end%> 
</div>

<%= form_for dispatcher do |f| %>
    <%=f.label :username %>
    <%=f.text_field :username %>

    <%=f.label :password %>
    <%=f.password_field :password %>

    <%= f.submit "Create Account" %>

<% end %>