<!DOCTYPE html>
<html>
  <head>
    <title>HotlineBling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <% if !current_user  %> 
          <li><%= link_to "Login", login_path %> </li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% else %> 
          <li><%= link_to "My Account", dispatcher_path(current_user) %>
          <li><%= link_to "New Log", new_dispatcher_call_path(current_user) %>
          <li><%= link_to "All Logs", calls_path %>
          <li><%= link_to "All Callers", callers_path%>
          <li><%= link_to "All Dispatchers", dispatchers_path%>
          <li><%= link_to "Log Out", '/logout', method: 'delete' %>
          <li id="username"><%= link_to current_user.username, dispatcher_path(current_user) %></li>
        <% end %>  
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
    <%= flash[:message]%>
    <%= yield %>
  </body>
</html>
